body{
    background-color: #ECE5C7;
}
nav{
    background-color: #FFCBCB;
    
}
b{
    font-size: 50px;
 color: black;
   
}
h7{
    color: black;
}
h1{
    color: black;
}
p{
    color: black;
    font-size: 50px;
    ;
}
p1{
    color: white;
    font-size: 30px;
}
h5{
    font-size: 50px;
    color:#FFC3C3;
}
p2{
    color:black;
    font-size: 30px;
}
